<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="">

        <label for="id">ID</label>
        <input type="text" id="id" name="id">


        <select name="type" id="type">
            <option value="cpu">CPU (Processor)</option>
            <option value="gpu">GPU (Card Graphic)</option>
        </select>

        <button type="submit">Delete</button>
    </form>


    <script src="fetch-delete"></script>
</body>

</html>