<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form id="formReg">
        
        <select name="type" id="type">
            <option value="cpu">CPU (Processor)</option>
            <option value="gpu">GPU (Card Graphic)</option>
        </select>

        <label for="id">ID</label>
        <input type="text" id="id" name="id">

        <button type="submit" id="delete-btn">Delete</button>

    </form>


    <script src="/js/fetch-delete.js"></script>
</body>

</html>